<div class="card">
  <h2 style="margin-top: 0">
    {{ isEdit ? "Edit Task" : "Create Maintenance Task" }}
  </h2>

  <div class="grid">
    <div class="col-4">
      <label>Task ID</label>
      <input
        class="input form-control form-control-sm"
        type="text"
        placeholder="Format: AA-0000"
        [formControl]="form.controls.taskID"
        style="min-width: 130px;
        "
      />
      <small
        style="color: #dc3545"
        *ngIf="form.controls.taskID.invalid && form.controls.taskID.touched"
      >
        Valid ID like MT-1001 is required
      </small>
    </div>

    <div class="col-4">
      <label>Aircraft ID</label>
      <select
        class="form-select form-select-sm"
        [formControl]="form.controls.aircraftID"
        style="min-width: 140px;"
      >
        <option value="">Select Aircraft</option>
        <option *ngFor="let id of aircraftIDs" [value]="id">{{ id }}</option>
      </select>
    </div>

   
    <div class="col-4">
      <label>Scheduled Date</label>
      <input
        class="input form-control form-control-sm"
        type="date"
        [formControl]="form.controls.scheduledDate"
        style="min-width: 140px;"
      />
    </div>

    <!-- Status (wider dropdown) -->
    <div class="col-4">
      <label>Status</label>
      <select
        class="form-select form-select-sm status-select"
        [formControl]="form.controls.status"
      >
        <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
      </select>
    </div>
  </div>

  <!-- Actions -->
  <div class="form-actions" style="margin-top: 16px;">
    <button
      class="btn btn-outline-primary btn-sm"
      (click)="submit()"
    >
      {{ isEdit ? "Save Changes" : "Create Task" }}
    </button>

    <a class="btn btn-link btn-sm" routerLink="/maintenance" style="margin-left: 8px;">
      Cancel
    </a>
  </div>
</div>

